.form-heading {
    width: 100%;
    text-align: left;
    font-size: 14px;
    text-wrap: nowrap;
    h1,h2 {
      color: var(--secondary-color);
      margin-block: 0 0.4rem;
      @media (max-width: 768px) {
        // text-align: center;
      }
    }
  }