:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 16px;
  background-color: transparent;
  // backdrop-filter: blur(8px);
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--text-color);
}

button {
  color: var(--text-color);
}

mat-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 24px;
}